/******* Pages menus *******/  
        
.menu {
    background-color: var(--gris-clair);
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
    position: relative;
    width: auto;
    height: 1300px;
    margin-left: 0%;
    margin-left: -7px;
    margin-right: -7px;
    display: flex;
    justify-content: space-evenly;
}
.menu1{
    height: 1500px;
}
.menu-centrer { 
    margin-top: -3em;

}
.sous-titre-menu {
    padding-right: 75% ;     
}

.titre-menu {
    font-family: 'Shrikhand', serif;
    font-size: 31px;
    font-style: italic;
    letter-spacing: 0em;
    padding-right: 2em; 
}
.sous-titre-menu {
   padding-right: 67%;
   width: 40px;
    
}
.soulignement {
    border-bottom: 3px solid var(--vert-clair);
    padding-bottom: 5px;
    border: 40px 0px;
    font-weight: 200;
    font-size: medium;
}
.encadrement-plats {
    background-color: var(--blanc);
    border-radius: 15px;
    width: 70%;
    height: 54px;
    margin-bottom: 10px;
    padding: 7px;
    line-height: 14px;
    position: relative;
    opacity: 0;
    transform:translateY(-50px);
    overflow: hidden;
    div{
        .plats{
            font-size: 17px;
        }
        p{
        font-size: 15px;

        }
    }
} 
.animation-plats{
    animation: plats 0.7s 0.5s ;
    animation-fill-mode: forwards;
}
.animation-plats2{
    animation: plats 0.7s 1s ;
    animation-fill-mode: forwards;
}
.animation-plats3{
    animation: plats 0.7s 1.5s ;
    animation-fill-mode: forwards;
} 
.animation-plats4{
    animation: plats 0.7s 2s ;
    animation-fill-mode: forwards;
}
.animation-plats5{
    animation: plats 0.7s 2.5s ;
    animation-fill-mode: forwards;
}.animation-plats6{
    animation: plats 0.7s 3s ;
    animation-fill-mode: forwards;
}
.animation-plats7{
    animation: plats 0.7s 3.5s ;
    animation-fill-mode: forwards;
}
.animation-plats8{
    animation: plats 0.7s 4s ;
    animation-fill-mode: forwards;
}
.animation-plats9{
    animation: plats 0.7s 4.5s ;
    animation-fill-mode: forwards;
}
.animation-plats10{
    animation: plats 0.7s 5s ;
    animation-fill-mode: forwards;
}
@keyframes plats {
    0% {
        transform:translateY(-50px);
        opacity:0;
    }
    100% {
        transform:translateY(0);
        opacity:1;
    }
}
  



.encadrement-plats  p {
    overflow: hidden;
    text-overflow:ellipsis ;
    white-space: nowrap;
} 
.encadrement-plats:hover p {
    width: 300px;
}
.encadrement-plats:hover .cadre-validation {
    opacity: 1 ;    
    animation: slide-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    display: flex;
}
.encadrement-plats:hover .p3 {
    margin-right: 1em;
    animation: slide-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes slide-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-55px);
    }
  }

.encadrement-plats:not(:hover) .p3 {
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.encadrement-plats:not(:hover) .cadre-validation {
    opacity: 1;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-right {
    0% {
        transform: translateX(-55px);
    }
    100% {
        transform: translateX(0);
    }
}

.p3{
    font-weight: bold;
     display: flex;
     flex-direction: row-reverse;
     margin-top: -2em;
    }
.p4 {
    margin-top: -7px;
}
.plats {
    font-weight: bold; 
    margin-top: 10px;
}
.cadre-validation {
    background-color: var(--vert-clair);
    border-radius: 0px 15px 15px 0px ;
    width: 59px;
    height: 69px;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center; 
    opacity: 0; 
    top: 0px;
    right:0px;
    margin-right: -59px;
    
} 
.cadre-validation i  {
    color: white;
}

.restau { 
    max-width: 2650px;
    height: 383px;
    object-fit: cover;
    
}    
body  {
    margin: 0px;
}    
.commander {
    border-radius: 25px;
    background:linear-gradient(to top,var(--violet),#FF79DA);
    color: var(--blanc);
    width: 190px;
    height: 50px;
    font-size: 16px;
    margin-bottom: 2em;
    box-shadow: 0px 4px 10px 0px #00000040;
    &:hover{
        transform: scale(1.13);
         opacity: 0.8;
         box-shadow: 0px 20px 10px 0px #00000040;
    }
}
.espace2 {
    padding-right: 20px;
    margin-left: -40px;
}
.espace3 {
    flex: 0.5;
}
.flèche {
    display: flex;
    align-items: center;
    margin-left: 10px;
    
}
.animation-fermeture {
	animation: fermeture 0.4s steps(2, start) 0.1s ;
}
@keyframes fermeture {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.5);
    }
}

/******* Media queries *******/
@media( max-width: 532px )
/******* Menus *******/{

.encadrement-plats:hover p{
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    }
    
}


/******* Media queries *******/
@media( min-width: 800px )
/******* Menus *******/ {
.menu {
    width: 80%;
} 
.encadrement-plats p {
    text-overflow: clip;  
    width: 300px;
}
  .encadrement-plats:hover p {
    overflow: visible;
    text-overflow: clip ;
    white-space: nowrap;
    width: 200px;
  }  
}