@charset "UTF-8";
/******* General *******/
* {
  font-family: "Rotobo", sans-serif;
}

:root {
  --violet:#9656DC;
  --bleu-clair:#99E2D0;
  --gris-clair:#F6F6F6;
  --gris:#EAEAEA;
  --gris-foncé: #353535;
  --blanc:#FFFFFF;
  --vert-clair:#99E2D0;
  --vert-foncé:#008766;
}

.fondgris {
  background-color: var(--gris);
}

.fondgris-clair {
  background-color: var(--gris-clair);
}

nav {
  color: var(--gris-foncé);
}

a {
  text-decoration: none;
}

.centrer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centrer1 {
  display: flex;
}

.imagesRestau {
  background-color: var(--blanc);
  border-radius: 15px;
  width: 310px;
  height: 251px;
  margin-top: 40px;
}

img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

h1 {
  font-size: 40px;
}

.p1 {
  font-size: large;
  margin-top: 0.5em;
  padding-left: 20px;
  font-weight: bold;
  line-height: 0em;
}

.p2 {
  padding-left: 20px;
}

.titre {
  font-size: 24px;
  font-weight: 700;
  width: 260px;
  height: 68px;
  display: flex;
  text-align: center;
}

.titre1 {
  font-weight: 300;
  font-size: 18px;
  width: 315px;
  height: 46px;
  text-align: center;
}

.horizontal {
  display: flex;
  flex-direction: column;
}

.MEP {
  padding-left: 1em;
  padding-top: 1em;
}

.MEP1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: var(--gris-foncé);
  color: var(--blanc);
  height: 170px;
  padding-top: 2em;
  margin: -6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 35px;
  line-height: 1em;
}

.logo {
  width: 200px;
  height: 34.2px;
  margin: 25px;
  display: flex;
}

.logo-blanc {
  display: none;
}

.logo-blanc1 {
  display: flex;
  margin-bottom: 1em;
  width: 80px;
  height: 20px;
}

.explorer {
  border-radius: 30px;
  background: linear-gradient(to top, var(--violet), #FF79DA);
  color: var(--blanc);
  width: 218px;
  height: 50px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.explorer:hover {
  transform: scale(1.13);
  opacity: 0.8;
}

.fonctionnements {
  border-radius: 20px;
  width: 300px;
  border: none;
  height: 72px;
  font-size: 16px;
  font-weight: bold;
}

.fonctionnements1 {
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
}

.espace {
  padding-right: 10px;
}

.espace1 {
  padding-right: 40px;
}

.nouveau {
  background-color: var(--vert-clair);
  color: var(--vert-foncé);
  border-radius: 2px;
  position: absolute;
  width: 80px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.nouveau1 {
  display: flex;
  justify-content: flex-end;
}

.cercle {
  width: 24px;
  height: 24px;
  border-radius: 20px;
  background-color: var(--violet);
  color: var(--blanc);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: -1em;
  margin-top: 1.5em;
}

.coeur {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  margin-top: -3em;
}

.coeur1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icoeur {
  position: absolute;
  font-size: xx-large;
}

.icoeur2 {
  opacity: 0;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to top, var(--violet), #FF79DA);
}

.icoeur2:hover {
  opacity: 1;
}

.lien-couleur {
  color: #353535;
}

.lien-couleur2 {
  color: #FFFFFF;
}

.animation-ouverture {
  animation: ouverture 0.3s steps(2, start) 0.1s;
}

@keyframes ouverture {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
/******* Media queries *******/
@media (min-width: 798px) {
  .imagesRestau {
    width: 380px;
  }
  .MEP1 {
    margin-left: 2em;
  }
  .restaurants {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .footer {
    width: auto;
    height: 114px;
    margin: -6px;
    padding-right: 50px;
    padding-bottom: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    position: relative;
  }
  .logo-blanc {
    display: flex;
    width: 80px;
    height: 20px;
  }
  .logo-blanc1 {
    display: none;
  }
  .titre {
    width: auto;
    height: 47px;
    font-size: xxx-large;
  }
  .titre1 {
    width: 800px;
    height: 47px;
    font-size: x-large;
  }
  .fonctionnements {
    width: 280px;
    margin-right: 1em;
  }
  .encadrement-plats:hover p {
    width: auto;
    overflow: auto;
    text-overflow: clip;
    white-space: normal;
  }
  .encadrement-plats p {
    width: auto;
    text-overflow: clip;
    white-space: normal;
  }
  .menu {
    width: 70%;
    display: flex;
  }
  .menu-centrer {
    display: flex;
    justify-content: center;
  }
}
/******* Media queries *******/
@media (min-width: 1024px) {
  .horizontal {
    flex-direction: row;
  }
  .fonctionnements {
    border-radius: 20px;
    width: 300px;
    border: none;
    height: 72px;
    margin-right: 2em;
    font-size: 16px;
    font-weight: bold;
  }
  .imagesRestau {
    width: 490px;
  }
  .MEP {
    margin-left: 3em;
  }
}
/******* Media queries *******/
@media (min-width: 1440px) {
  .contenaire {
    width: 1440px;
    height: 703px;
    margin: auto;
  }
}
/******* Loader *******/
.loader-contenaire {
  height: 700px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, var(--violet), #FF79DA);
  position: fixed;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: fin 3s;
  animation-fill-mode: forwards;
}

@keyframes fin {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.texte-loader {
  font-size: x-large;
  font-weight: bold;
  font-style: italic;
  animation-name: fade-in-top;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

.loader {
  color: var(--gris-foncé);
  font-weight: bold;
  font-size: 3em;
  animation-name: fade-in-top;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

@keyframes fade-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/******* Pages menus *******/
.menu {
  background-color: var(--gris-clair);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  width: auto;
  height: 1300px;
  margin-left: 0%;
  margin-left: -7px;
  margin-right: -7px;
  display: flex;
  justify-content: space-evenly;
}

.menu1 {
  height: 1500px;
}

.menu-centrer {
  margin-top: -3em;
}

.sous-titre-menu {
  padding-right: 75%;
}

.titre-menu {
  font-family: Shrikhand;
  font-size: 31px;
  font-style: italic;
  letter-spacing: 0em;
  width: 290px;
  height: 41px;
  font-weight: 900;
}

.sous-titre-menu {
  padding-right: 67%;
  width: 40px;
}

.soulignement {
  border-bottom: 3px solid var(--vert-clair);
  padding-bottom: 5px;
  border: 40px 0px;
  font-weight: 200;
  font-size: medium;
}

.encadrement-plats {
  background-color: var(--blanc);
  border-radius: 15px;
  width: 70%;
  height: 54px;
  margin-bottom: 10px;
  padding: 7.5px;
  line-height: 14px;
  position: relative;
}
.encadrement-plats div .plats {
  font-size: 17px;
}
.encadrement-plats div p {
  font-size: 15px;
}

.animation-plats {
  animation: plats 0.7s 0.5s;
}

.animation-plats2 {
  animation: plats 0.7s 1s;
}

.animation-plats3 {
  animation: plats 0.7s 1.5s;
}

.animation-plats4 {
  animation: plats 0.7s 2s;
}

.animation-plats5 {
  animation: plats 0.7s 2.5s;
}

.animation-plats6 {
  animation: plats 0.7s 3s;
}

.animation-plats7 {
  animation: plats 0.7s 3.5s;
}

.animation-plats8 {
  animation: plats 0.7s 4s;
}

.animation-plats9 {
  animation: plats 0.7s 4.5s;
}

.animation-plats10 {
  animation: plats 0.7s 5s;
}

@keyframes plats {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.encadrement-plats:hover .cadre-validation {
  opacity: 1;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  display: flex;
}

.encadrement-plats p {
  width: 270px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.encadrement-plats:hover p {
  width: 170px;
}

.encadrement-plats:hover .p3 {
  margin-right: 1em;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-55px);
  }
}
.p3 {
  font-weight: bold;
  display: flex;
  flex-direction: row-reverse;
  margin-top: -2em;
}

.p4 {
  margin-top: -7px;
}

.plats {
  font-weight: bold;
  margin-top: 10px;
}

.cadre-validation {
  background-color: var(--vert-clair);
  border-radius: 0px 15px 15px 0px;
  width: 59px;
  height: 69px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  top: 0px;
  right: 0px;
  margin-right: -3.5em;
  display: none;
}

.cadre-validation i {
  color: white;
}

.restau {
  max-width: 2650px;
  height: 383px;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  margin: 0px;
}

.commander {
  border-radius: 25px;
  background: linear-gradient(to top, var(--violet), #FF79DA);
  color: var(--blanc);
  width: 190px;
  height: 50px;
  font-size: 16px;
  margin-bottom: 2em;
}
.commander:hover {
  transform: scale(1.13);
  opacity: 0.8;
}

.espace2 {
  padding-right: 20px;
  margin-left: -40px;
}

.espace3 {
  flex: 0.5;
}

.flèche {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.animation-fermeture {
  animation: fermeture 0.4s steps(2, start) 0.1s;
}

@keyframes fermeture {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
/******* Media queries *******/
@media (min-width: 800px) {
  .menu {
    width: 80%;
  }
  .encadrement-plats p {
    text-overflow: clip;
    width: 300px;
  }
  .encadrement-plats:hover p {
    overflow: visible;
    text-overflow: clip;
    white-space: nowrap;
  }
}/*# sourceMappingURL=style.css.map */